<nav class="navbar-container">
  <img
    src="assets/pngs/sombrero.png"
    alt="sombrero blog logo"
    class="navbar-sombrero-logo"
  />
  <ul class="navbar-links">
    <li class="navlink">Home</li>
    <li class="navlink">About</li>
    <li class="navbar-blog-title">Code Chicano</li>
    <li class="navlink">Blog</li>
    <li class="navlink">Contact</li>
    <li class="navlink admin-link">Login</li>
  </ul>
  <mat-slide-toggle class="darkmode-toggle-btn" (change)="toggleTheme()"
    ><i class="fa-solid fa-moon"></i
  ></mat-slide-toggle>
  <p class="navbar-info-text">
    A blog about my journey as a self-taught developer. Things I've learned, my
    thoughts, and all the ups and downs that come with the process.
  </p>
</nav>
