<nav class="navbar-container">
  <img
    src="assets/pngs/sombrero.png"
    alt="sombrero blog logo"
    class="navbar-sombrero-logo"
  />
  <ul class="navbar-links">
    <li class="navlink" (click)="routeToHome()">Home</li>
    <li class="navlink" (click)="routeToAbout()">About</li>
    <li class="navbar-blog-title">Code Chicano</li>
    <li class="navlink" (click)="routeToBlogHome()">Blog</li>
    <li class="navlink" (click)="routeToContact()">Contact</li>
    <li class="navlink admin-link" (click)="routeToLogin()">Login</li>
  </ul>
  <mat-slide-toggle
    class="darkmode-toggle-btn"
    [checked]="themeService.themeSignal() === 'dark'"
    (click)="toggleTheme()"
  >
    @if (themeService.themeSignal() === 'dark') {
    <i class="fa-solid fa-sun"></i>
    } @else {
    <i class="fa-solid fa-moon"></i>
    }
  </mat-slide-toggle>
  <p class="navbar-info-text">
    A blog about my journey as a self-taught developer. Things I've learned, my
    thoughts, and all the ups and downs that come with the process.
  </p>
</nav>
