<nav class="navbar-container">
  <img
    src="assets/pngs/sombrero.webp"
    alt="sombrero blog logo"
    class="navbar-sombrero-logo"
  />
  <ul class="navbar-links">
    <li class="navlink" routerLink="home">Home</li>
    <li class="navlink" routerLink="aboutme">About</li>
    <li class="navbar-blog-title" routerLink="">Code Chicano</li>
    <li class="navlink" routerLink="bloghome">Blog</li>
    <li class="navlink" routerLink="contact">Contact</li>
    @if(!authService.isLoggedIn()) {
    <li class="navlink login-link" routerLink="login">
      Login<i class="fa-solid fa-user"></i>
    </li>
    } @if (authService.isLoggedIn()) {
    <li class="navlink login-link" routerLink="blog-admin">
      Hello Juan!<i
        class="fa-solid fa-right-from-bracket logout-icon"
        (click)="logout()"
      ></i>
    </li>
    }
  </ul>
  <mat-slide-toggle
    class="darkmode-toggle-btn"
    color="warn"
    [checked]="themeService.themeSignal() === 'dark'"
    (click)="themeService.updateTheme()"
    aria-label="Toggle dark mode"
  >
    <i
      [ngClass]="
        themeService.themeSignal() === 'dark'
          ? 'fa-solid fa-moon'
          : 'fa-solid fa-sun'
      "
    ></i>
  </mat-slide-toggle>
  <p class="navbar-info-text">
    A blog about my journey as a self-taught developer. Things I've learned, my
    thoughts, and all the ups and downs that come with the process.
  </p>
</nav>
