/**********************************************************************
Import Variables
**********************************************************************/
@import "../../variables.scss";

/**********************************************************************
Navbar Styles - Mobile First
**********************************************************************/
.navbar-container {
  @include flex-center;

  & .navbar-sombrero-logo {
    width: 325px;
  }

  .navbar-blog-title {
    font-family: $font-bitter;
    font-size: $font-title-lg;
    font-weight: $weight-xbold;
  }

  .darkmode-toggle-btn {
    font-family: $font-raleway;
    margin-top: $spacing-lg;
    position: absolute;
    top: 0;

    & .fa-moon,
    .fa-sun {
      font-size: $font-lg;
    }
  }

  .navbar-info-text {
    font-size: $font-xs;
    width: 90vw;

    @media (min-width: 425px) {
      font-size: $font-reg;
    }
  }
}

/**********************************************************************
Navbar Styles - Media Query Specific
**********************************************************************/

@media (max-width: 599px) {
  .navlink {
    display: none;
  }
}

@media (min-width: 600px) {
  .navbar-container {
    width: 100vw;
    position: relative;
    margin-bottom: $spacing-reg;

    & .navbar-sombrero-logo {
      width: 120px;
      margin-bottom: -2.5rem;
    }

    & .navbar-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }

    & .navlink {
      letter-spacing: $letter-spacing-sm;
      font-size: $font-xs;
    }

    & .login-link {
      position: absolute;
      top: $spacing-med;
      right: 40px;

      & .fa-user {
        margin-left: 5px;
      }
    }

    & .darkmode-toggle-btn {
      left: 40px;
      top: -19px;
    }

    & .navbar-info-text {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .navbar-container {
    & .navlink {
      font-size: $font-reg;
    }

    & .login-link {
      right: 150px;
    }

    & .darkmode-toggle-btn {
      left: 150px;
    }
  }
}
