<section class="login-page-container">
  <header class="page-header-container">
    <figure class="page-header-img-wrapper">
      <img
        src="assets/pngs/pyramid.png"
        alt="Skull logo"
        class="page-header-img"
      />
    </figure>
    <p class="page-header-title">LOGIN</p>
  </header>
  <section class="login-content-container">
    <div class="login-form-container">
      <h3 class="login-greeting-text">Welcome Back!</h3>
      <form [formGroup]="loginForm" class="login-form" (submit)="onLogin()">
        <mat-form-field class="form-field">
          <mat-label class="form-label">Email</mat-label>
          <input matInput formControlName="email" class="form-input" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label class="form-label">Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            class="form-input"
          />
        </mat-form-field>
        <button mat-raised-button type="submit" class="form-btn">Login</button>
      </form>
      @if (invalidLogin) {
      <div class="invalid-login-modal">
        <p>Invalid Login</p>
        <p>Please try again.</p>
      </div>
      }
    </div>
    <figure class="login-img-wrapper">
      <img
        src="assets/pngs/skelotoncolor.png"
        alt="skeloton with laptop img"
        class="login-img"
      />
    </figure>
  </section>
</section>
