<section class="contact-page-container">
  <header class="page-header-container">
    <figure class="page-header-img-wrapper">
      <img
        src="assets/pngs/mariachi.webp"
        alt="Skull logo"
        class="page-header-img"
      />
    </figure>
    <p class="page-header-title">CONTACT</p>
  </header>
  <section class="contact-content-container">
    <div class="contact-text-wrapper">
      <h3 class="contact-text">GET IN</h3>
      <ul class="contact-links">
        <li class="contact-link">
          <span class="link-num">1.</span>
          <a
            href="https://dev-jlagunas.github.io/my-portfolio/#/"
            target="_blank"
            rel="noopener noreferrer"
            >Website</a
          >
        </li>
        <li class="contact-link">
          <a
            href="https://www.linkedin.com/in/juan-lagunas-719826323/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
          <span class="link-num">2.</span>
        </li>
        <li class="contact-link">
          <span class="link-num">3.</span>
          <a
            href="https://github.com/dev-jLagunas"
            target="_blank"
            rel="noopener noreferrer"
            >Github</a
          >
        </li>
        <li class="contact-link">
          <a
            href="https://leetcode.com/u/Solidjuan/"
            target="_blank"
            rel="noopener noreferrer"
            >Leetcode</a
          >
          <span class="link-num">4.</span>
        </li>
        <li class="contact-link">
          <span class="link-num">5.</span>
          <a
            href="https://www.frontendmentor.io/profile/dev-jLagunas"
            target="_blank"
            rel="noopener noreferrer"
            >Frontend Mentor</a
          >
        </li>
        <li class="contact-link">
          <a
            href="https://www.instagram.com/j.lag_works/"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
          <span class="link-num">6.</span>
        </li>
      </ul>

      <h3 class="contact-text">TOUCH</h3>
    </div>
    <figure class="contact-img-wrapper">
      <img
        src="assets/pngs/pinata.webp"
        alt="pinata logo"
        class="contact-img"
      />
    </figure>
  </section>
</section>
