<section class="contact-page-container">
  <header class="page-header-container">
    <figure class="page-header-img-wrapper">
      <img
        src="assets/pngs/mariachi.png"
        alt="Skull logo"
        class="page-header-img"
      />
    </figure>
    <p class="page-header-title">CONTACT</p>
  </header>
  <section class="contact-content-container">
    <div class="contact-text-wrapper">
      <h3 class="contact-text">GET IN</h3>
      <ul class="contact-links">
        <li class="contact-link"><span class="link-num">1.</span>Website</li>
        <li class="contact-link">LinkedIn<span class="link-num">2.</span></li>
        <li class="contact-link"><span class="link-num">3.</span>Github</li>
        <li class="contact-link">Leetcode<span class="link-num">4.</span></li>
        <li class="contact-link"><span class="link-num">5.</span>Codewars</li>
        <li class="contact-link">Instagram<span class="link-num">6.</span></li>
      </ul>
      <h3 class="contact-text">TOUCH</h3>
    </div>
    <figure class="contact-img-wrapper">
      <img src="assets/pngs/pinata.png" alt="pinata logo" class="contact-img" />
    </figure>
  </section>
</section>
