<section class="admin-page-container">
  <header class="page-header-container">
    <figure class="page-header-img-wrapper">
      <img
        src="assets/pngs/flower.webp"
        alt="flower image"
        class="page-header-img"
      />
    </figure>
    <p class="page-header-title">Admin</p>
  </header>
  <!-- ADD NEW BLOG ENTRY FORM  -->
  <section class="form-container">
    <h3 class="form-text-info">Add New Blog Entry</h3>
    <form
      [formGroup]="blogForm"
      (ngSubmit)="submitBlogForm()"
      class="blog-admin-form"
    >
      <mat-form-field class="form-field">
        <mat-label class="form-label">Blog Category</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label class="form-label">Blog Topic</mat-label>
        <input matInput formControlName="subtitle" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label class="form-label">Preview Image</mat-label>
        <input matInput formControlName="imageUrl" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label class="form-label">Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-field desc-form-field">
        <mat-label class="form-label">Preview Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <div class="quill-container">
        <quill-editor
          formControlName="content"
          class="quill-editor"
        ></quill-editor>
      </div>

      <button
        mat-raised-button
        color="accent"
        type="submit"
        class="admin-submit-btn"
      >
        Submit
      </button>
    </form>
  </section>

  <button mat-raised-button (click)="openBottomSheet()" class="see-entries-btn">
    See All Entries
  </button>
</section>
