<mat-sidenav-container class="mat-sidenav-container">
  <mat-sidenav #sidenav mode="over" class="mat-sidenav">
    <aside class="sidenav-inner-content">
      <img
        src="assets/pngs/sombrero.png"
        alt="sombrero logo"
        class="sidenav-sombrero-logo"
      />
      <h3 class="sidenav-blog-title">Code Chicano</h3>
      <ul class="sidenav-nav-links">
        <li>Home</li>
        <li>About Me</li>
        <li>Blog</li>
        <li>Contact</li>
        <li>Login</li>
      </ul>
      <button
        mat-raised-button
        (click)="sidenav.close()"
        class="sidenav-close-btn"
      >
        close sidenav
      </button>
    </aside>
  </mat-sidenav>
  <mat-sidenav-content class="blogmain-content-container">
    <div class="navbar-content-container">
      <button
        mat-raised-button
        (click)="sidenav.open()"
        class="blogmain-open-btn"
      >
        open sidenav
      </button>
      <app-navbar></app-navbar>
      <button mat-raised-button class="blogmain-see-more-btn">See More</button>
    </div>
    <section #contentSection>
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
