<mat-sidenav-container
  class="mat-sidenav-container"
  [ngClass]="themeService.themeSignal()"
>
  <mat-sidenav
    #sidenav
    mode="over"
    class="mat-sidenav"
    [ngClass]="themeService.themeSignal()"
  >
    <aside class="sidenav-inner-content">
      <img
        src="assets/pngs/sombrero.png"
        alt="sombrero logo"
        class="sidenav-sombrero-logo"
      />
      <h3 class="sidenav-blog-title">Code Chicano</h3>
      <ul class="sidenav-nav-links">
        <li (click)="routeToHome(contentSection)" (click)="sidenav.toggle()">
          Home
        </li>
        <li (click)="routeToAboutMe(contentSection)" (click)="sidenav.toggle()">
          About Me
        </li>
        <li
          (click)="routeToBlogHome(contentSection)"
          (click)="sidenav.toggle()"
        >
          Blog
        </li>
        <li (click)="routeToContact(contentSection)" (click)="sidenav.toggle()">
          Contact
        </li>
        <li (click)="routeToLogin(contentSection)" (click)="sidenav.toggle()">
          Login
        </li>
      </ul>
      <mat-slide-toggle
        class="darkmode-toggle-btn"
        [checked]="themeService.themeSignal() === 'dark'"
        (click)="toggleTheme()"
      >
        @if (themeService.themeSignal() === 'dark') {
        <i class="fa-solid fa-sun"></i>
        } @else {
        <i class="fa-solid fa-moon"></i>
        }
      </mat-slide-toggle>
      <button
        mat-raised-button
        (click)="sidenav.close()"
        class="sidenav-close-btn"
      >
        close sidenav
      </button>
    </aside>
  </mat-sidenav>
  <mat-sidenav-content class="blogmain-content-container">
    <div class="navbar-content-container">
      <button
        mat-raised-button
        (click)="sidenav.open()"
        class="blogmain-open-btn"
      >
        open sidenav
      </button>
      <app-navbar></app-navbar>
      <button
        mat-stroked-button
        class="blogmain-see-more-btn"
        (click)="routeToHome(contentSection)"
      >
        See More
      </button>
    </div>
    <section #contentSection>
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
