<mat-dialog-content class="dialog-content-container">
  <div class="parallax-container thoughts-header">
    <i class="fa-solid fa-arrow-down-long arrow-down-icon"></i>
    <h3>Random Facts</h3>
    <p>
      Scroll down to see a random fact computer science fact of the day. Come
      back anytime for a new one!
    </p>
  </div>

  <section class="parrallax-container parallax-container-2">
    <div class="thoughts-content">
      <h3>Today's Tidbit</h3>
      <p>
        <i class="fa-solid fa-quote-left quote-icon"></i>
        {{ getRandomFact() }}<i class="fa-solid fa-quote-right quote-icon"></i>
      </p>
    </div>
  </section>
</mat-dialog-content>
