<mat-dialog-content class="dialog-content-container">
  <figure class="parallax-container">
    <h3>Random Thoughts</h3>
    <p>
      scroll down to see my random thought of the day. Come back tomorrow for a
      new one!
    </p>
  </figure>
  <section class="buffer"></section>
  <section class="parrallax-container parallax-container-2">
    <div class="thought-container">
      <h3>Today's Thought</h3>
      <p>
        Whenever I sit down to write code there is a random thought that I need
        to write and there that is it.
      </p>
    </div>
  </section>
</mat-dialog-content>
