/**********************************************************************
Project Variables
**********************************************************************/
// Colors
$dark-primary-color: #0c0c0c;
$semi-dark-secondary-color: #222831;
$light-primary-color: #faf2f2;
$light-secondary-color: #eeeeee;

// Font Style
$font-bitter: "Bitter";
$font-raleway: "Raleway";

// Font Size
$font-xs: 12px;
$font-sm: 14px;
$font-reg: 16px;
$font-lg: 24px;
$font-title-lg: 50px;

// Font Weights
$weight-xlight: 100;
$weight-normal: 300;
$weight-xbold: 900;

// Spacing
$spacing-small: 0.5rem;
$spacing-reg: 1rem;
$spacing-med: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 4rem;

// Letter Spacing
$letter-spacing-sm: 3px;

// Layout Mixins
@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
