/**********************************************************************
Project Variables
**********************************************************************/
// Colors
$dark-primary-color: #0c0c0c;
$semi-dark-secondary-color: #272829;
$light-primary-color: #faf2f2;
$light-secondary-color: #eeeeee;
$color-white: #fff;
$color-transparent: rgb(0, 0, 0, 0.3);
$color-bold-text: rgb(224, 150, 11);

// Font Style
$font-bitter: "Bitter";
$font-raleway: "Raleway";

// Font Size
$font-xs: 12px;
$font-sm: 14px;
$font-reg: 16px;
$font-lg: 24px;
$font-xl: 36px;
$font-title-lg: 50px;
$font-title-xl: 70px;

// Font Weights
$weight-xlight: 100;
$weight-normal: 300;
$weight-xbold: 900;

// Spacing
$spacing-small: 0.5rem;
$spacing-reg: 1rem;
$spacing-med: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 4rem;

// Letter Spacing
$letter-spacing-sm: 3px;

// Centering
$center: auto;

// Layout Mixins
@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Text Mixins
@mixin header-style {
  color: $color-white;
  font-weight: $weight-xbold;
  -webkit-text-fill-color: $color-transparent;
  -webkit-text-stroke: 2px $color-white;
  background-clip: text;
  font-family: $font-bitter;
  letter-spacing: $letter-spacing-sm;
}
