<mat-dialog-content class="dialog-content-container">
  <div class="parallax-container thoughts-header">
    <i class="fa-solid fa-arrow-down-long arrow-down-icon"></i>
    <h3>Latest Post</h3>
    <p>Scroll down to see my latest blog entry! Hopefull its good!</p>
  </div>
  @if (latestPost) {
  <section class="parallax-container-2">
    <div class="thoughts-content">
      <h3>Latest</h3>
      <mat-card class="latest-post-container">
        <img
          mat-card-image
          [src]="latestPost.imageUrl"
          alt=""
          class="latest-img"
        />
        <mat-card-header class="latest-header">
          <mat-card-title class="latest-category">{{
            latestPost.title
          }}</mat-card-title>
          <mat-card-subtitle class="latest-topic">{{
            latestPost.subtitle
          }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="latest-content-wrapper">
          <p class="latest-date">
            {{ latestPost.date | date : "MMMM, dd, y" }}
          </p>
          <p class="latest-description">
            {{ latestPost.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button (click)="goToBlogDetail(latestPost.id)">
            See More
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
  }
</mat-dialog-content>
