<mat-dialog-content class="dialog-content-container">
  <div class="parallax-container thoughts-header">
    <i class="fa-solid fa-arrow-down-long arrow-down-icon"></i>
    <h3>Latest Post</h3>
    <p>Scroll down to see my latest blog entry! Hopefull its good!</p>
  </div>

  <section class="parallax-container-2">
    <div class="thoughts-content">
      <h3>Today's Tidbit</h3>
      <p>
        <i class="fa-solid fa-quote-left quote-icon"></i>
        Latest blog entries will go here<i
          class="fa-solid fa-quote-right quote-icon"
        ></i>
      </p>
    </div>
  </section>
</mat-dialog-content>
